<div class="text-center">
    <h3 class="display-3"><%= report.title %></h3>
    <p class="lead"><%= report.description %> </p>
    <p><strong>Student Responsible: </strong> <%= report.student.name %> </p>
</div>